{# src/DT/UserBundle/Resources/views/User/mesDoctorants.html.twig #}

{% extends "DTUserBundle::layout.html.twig" %}

{% block body %}

    <h1>Cette vue affichera la liste des doctorants du Prof connécté.</h1>
  

{% endblock %}