<!DOCTYPE html>
<html>
	<head>
	   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	   <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">
				  <ul class="nav nav-sidebar"> Menu prinsipal
					<li class="active"><a href="#">Overview</a></li>
					<li><a href="#">Reports</a></li>
					<li><a href="#">Analytics</a></li>
					<li><a href="#">Export</a></li>
				  </ul>
				  <ul class="nav nav-sidebar"> Menu Administration
					<li><a href="">Dossiers de suivi</a></li>
				  </ul>
				</div>
			</div>
			<div class="row">
				<div class="row placeholders">
					<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
					    <div class="btn-group text-right">
					  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
					    Nom Prenom <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li> <a href="#"> <i class="glyphicon glyphicon-lock"></i>  Deconnexion </a> </li>
					    <li> <a href="#"> <i class="glyphicon glyphicon-lock"></i>  Notification </a>  </li>

					  </ul>
					</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="bootstrap/js/npm.min.js"></script>

	</body>
</html>
