{# src/DT/SecurityBundle/Resources/views/Security/login.html.twig #}

{% extends "DTSecurityBundle::index.html.twig" %}

{% block body %}

  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
  {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

<body>
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
          <form action="{{ path('login_check') }}" method="post" class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control input-lg" placeholder="Utilisateur">
            </div>
            <div class="form-group">
              <input type="password" id="password" name="_password" class="form-control input-lg" placeholder="Mot de passe">
            </div>
            <div class="form-group">
              <button type="submit" value="Connexion" class="btn btn-primary btn-lg btn-block">Se connecter</button>
              <span class="pull-right"><a href="#">S'enregistrer</a></span><span><a href="#">Besoin d'aide?</a></span>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
		  </div>	
      </div>
  </div>
  </div>
</div>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="{{asset('bundles/doctorama/public/js/bootstrap.min.js')}}"></script>
</body>
		
{% endblock %}