{# src/DT/DoctoramaBundle/Resources/views/Doctorama/admin_dossier.html.twig#}
{% extends "DTDoctoramaBundle::index.html.twig" %}

{% block DTDoctoramaBody %}

    <legend>
      <h3>Dossiers de suivi </h3>
    </legend>

    <section class="row">
        <section align="right" style="margin-bottom:20px;">
                <a class="btn btn-success" href="creer_dossier.php" role="button"> Créer un nouveau dossier </a>
        </section>
    </section>

    <section class="row">
        <section class="tab_suivi border1px table-responsive" >
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th style="width:15%">Modifier dossier</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>1</td>
                    <td>Doctorant</td>
                    <td>Num1</td>
                    <td>
                        <a class="btn btn-default" href="modif_dossier.php" role="button"> Modifier le dossier </a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Doctorant</td>
                    <td>Num2</td>
                    <td>
                        <a class="btn btn-default" href="modif_dossier.php" role="button"> Modifier le dossier </a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Doctorant</td>
                    <td>Num3</td>
                    <td>
                        <a class="btn btn-default" href="modif_dossier.php" role="button"> Modifier le dossier </a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Doctorant</td>
                    <td>Num4</td>
                    <td>
                        <a class="btn btn-default" href="modif_dossier.php" role="button"> Modifier le dossier </a>
                    </td>
                </tr>
              </tbody>
            </table>
        </section>
    </section>

    
{% endblock %}