{# src/DT/DoctoramaBundle/Resources/views/Doctorama/admin_dossier.html.twig#}
{% extends "DTDoctoramaBundle::index.html.twig" %}

{% block DTDoctoramaBody %}

<?php
	require_once('lib/affichage.php');

	afficheStructureDeb("Agenda");
	$db=new PDO('mysql:host=localhost;dbname=test','root',"");
	$req=$db->query("Select * from reunions where DATE(date)=DATE(NOW())");
?>

	<div class="page-header borderColor">
      <h2>Calendrier Réunions</h2>
    </div>
	
	<section class="row" >
		<div class="col-md-4">
			Reunions pour le 
			<?php
				setlocale(LC_TIME, "fr_FR","fra");
				echo strftime("%A %x");
				?>
				<div class="table-responsive">
				<table class="table border1px table-striped">
					<thead>
						<tr>
							  <th>#</th>
							  <th><?php echo strftime("%A %d") ?> </th>
							  <th>Nom Doctorant</th>
							  <th>Salle</th>
							  <th>Encadrant(s)</th>
						</tr>
					</thead>
					 <tbody>
					 	<?php 
					 		while($fin=$req->fetch()){
					 			$req2=$db->query("SELECT nom from personne where id IN (Select id_personne from assoc where id_reunion =".$fin['id'].")");
					 			echo '<tr>
								  <td>'.$fin['id'].'</td>
								  <td>'.explode(" ",$fin['date'])[1].'</td>
								  <td>Nom Doctorant</td>
								  <td>'.$fin['Salle'].'</td>
								  <td>';
								  	$chaine= "" ;
								  		while($fin2=$req2->fetch()){
								  			$chaine.=$fin2['nom']."  ";
								  		}
								 echo '<span class="pull-right glyphicon glyphicon-collapse-down" data-toggle="tooltip" data-content="'.$chaine.'"> </span></td>
								</tr>';
					 		} ?>
					</tbody>
				</table>
				</div>
		</div>
		<div class="col-md-8">
			<div id='calendar'></div>
		</div>
	</section>


	<style>

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
</style>

<?php
	afficheStructureFin();
?>
<script>
	$(document).ready(function() {
	    
		$('#calendar').fullCalendar({
			firstDay:1,
			defaultDate: moment(),
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			eventSources : [{url:'/mydate.php'}],
		});

		$('[data-toggle="tooltip"]').popover({
		    'placement': 'bottom'
		});

	});
</script>

