
{# src/DT/DoctoramaBundle/Resources/views/Doctorama/doctorant_labo.html.twig #}
{% extends "DTDoctoramaBundle::index.html.twig" %}


{% block DTDoctoramaBody %}
        <legend>
          <h3>Importer votre fichier CSV </h3>
        </legend>

<input id="input-1" type="file" class="file" accept="text/csv" autoFitCaption=true>
<script>
<pre><?php  print_r($_FILES); ?></pre>
</script>

 
        
{% endblock %}