{# src/DT/DoctoramaBundle/Resources/views/Doctorama/mesDoctorants.html.twig #}

{% extends "DTDoctoramaBundle::layout.html.twig" %}

{% block body %}

    <h1>Cette vue affichera la liste des doctorants du Prof connécté.</h1>
  

{% endblock %}